html{
  scroll-behavior: smooth;
}

.dropdown {
    position: relative;
    margin: 5px;
}
.dropdown-content{
    display: none;
    min-width: 208px;
  position: absolute;
  z-index: 1;
}
.dropdown:hover .dropdown-content{
  display: block;
}

.sidedropdown{
  
  margin-left: 240px;
  height: 600px;
  top: 0px;
  min-width: 330px;
  overflow: auto;
  
}
 .dropdown-content:hover .sidedropdown{
   display: block;
 }
.dropdown-content > div{
  border-bottom: 2px solid rgba(112, 108, 108, 0.39) !important;
}
.swiper-button-next{
  color:gray !important;
}
.swiper-button-prev{
  color:grey !important;
  
}

.dropdown-more:hover .moreshow{
  z-index: 10;
  position: absolute;
  min-width: 200px;
  display: block;
}

/* copy From deepesh */


#modal{
  z-index: 100;
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0,0,0,0.5);
}
#modalcontent{
  display: grid;
  grid-template-columns: 50% 50%;
  width:60%;
  height: 65%;
  margin:8% auto;
  background-color: white;
  animation-name: modalstarting;
  animation-duration: 1s;
}
#modalcontent>img{
  margin: 30% 20%;
  max-width: 80%;
  max-height: 90%;
}
#modalcontent>div{
  margin: 15% auto;
}
#closebutton {
  color: white;
  position: fixed;
  top:3%;
  right: 3%;
  cursor: pointer;
}
#email_input{
    width:90%;
    height:20%;
    border: none;
    outline: none;
    font-size: 25px;
}
#continue_button{
  width:90%;
  height:12%;
  border: none;
  outline: none;
  font-size: 15px;
  color: white;
  background-color: gray;
}
#phone_no{
    margin: 5% 28%;
    text-decoration: underline;
    color: gray;
}
::placeholder { 
  color: grey;
  opacity:0.5;
}
@keyframes modalstarting{
    from{opacity: 0;}
    to{opacity: 100;}
}
#containing{
    position: relative;
    max-width: 100%;
    max-height: 90%;
}
/* #containing +.content{
    display: none;   
}
#containing + .content.email_content{
  display: block;
  
} */
.toogle_input{
    position: relative;
    width:50px;
    left: 80%;
    top: 78%;
}
.toogle_input:before{
content: "";
position: absolute;
width: 50px;
height:25px;
background-color: rgb(185, 181, 181);
border-radius: 25px;  
}
.toogle_input:checked:before{
  background-color: rgb(151, 144, 144);
}
.toogle_input:after{
  content: "";
  position: absolute;
  top: 20%;
  left:10%;
  width: 20px;
  height:20px;
  background-color: white;
  border-radius: 20px;  
  transition: 0.5s;
  box-sizing: border-box;
}
.toogle_input:checked:after{
    left:50%;
   
}
.toogle_input:not(:checked) ~ .content.email_refercontent{
  display: none;
}
.toogle_input:checked ~ .content.email_content{
  display: none;
}
.toogle_input:checked ~ .content.email_refercontent{
  display: block;
  margin-top: -2%;
}
@media(max-width:480px){
  #modalcontent{
      display: grid;
      grid-template-columns: 90%;
      grid-template-rows: 30% 50%;
  }
  .toogle_input{
      position: relative;
      left: 80%;
      top: 10%;
  }
}

