#showParticipation{
    display: none;
}
.showimage{
    background-image: url("https://nmat.nmims.edu/bengaluru-campus/assets/images/banner111.jpg");
    background-size: cover;
}
#scroll_images>img{
    width: 180px;
    height: 80px;
    margin: 0 12px;
}
#btnScrollToTop{
    position:fixed;
    left:20px;
    bottom:20px;
    width:60px;
    height:60px;
    border-radius:5%;
    background: rgba(240, 227, 227,0.8);
    color:gray;
    border:none;
    outline:none;
    cursor:pointer;
}
#btnScrollToTop>ion-icon {
 font-size: 30px;
}
